*
  box-sizing border-box

html
  -webkit-font-smoothing antialiased

body
  background $colour-background
  font-family $font
  color $colour-font
  line-height $line-height
  font-size $font-base-size

a
  color $colour-link
  &:hover
    color $colour-link - 20%

.container
  width 100%
  max-width 600px
  margin 0 auto
  padding 2em

.kita-title
  font-weight 600
  margin-bottom 0.2em

.kita-version
  font-size 0.8em
  font-weight 400
  margin-top 0
  padding-bottom 1em
  border-bottom 1px solid $colour-background + 10%
