// Colour
$colour-background = #4040DC
$colour-font = white
$colour-link = $colour-font

// Typography
$font = -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif
$font-base-size = 15px
$line-height = 1.4em
